body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.callContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 30px 10px 0px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 120px;
    height: 100px;
    margin: -10px;
}

.logo h1{
    font-size: 30px;
    margin: -15px;
    font-family: 'Merriweather', serif;
}

.timing{
    display: flex;
    justify-content:end;
    align-items: center;
}

.timing .call{
    margin-right: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 184, 233);
    /* padding: 10px; */
    position: sticky;
    top: 0;
}

.navbar .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
}


.navbar .menu a{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding:20px;
    margin: 0;
}

.navbar .menu a:hover{
    background-color: rgba(248, 144, 8, 0.758);
}

.navbar input{
    background-color: rgba(4, 149, 206, 0.434);
    font-family: 'Merriweather', serif;
    font-size: 14px;
    border: none;
    outline: none;
    height: 35px;
    width: 13%;
    color: white;
    margin-right: 30px;
    padding: 0 10px;
    border-radius: 5px;
}

.banner{
    padding: 40px;
    height: 500px;
    background-image: url("./assets/image/hospital-intro.jpeg");
    background-size: 100% 600px;
    display: flex;
}

.banner .bannerText{
    width: 40%;
    color: rgba(0, 0, 0, 0.797);
    position: relative;
    top: 22%;
    line-height: 45px;
}

.banner .bannerText h1{
    font-family: 'Merriweather', serif;
}

.banner .bannerText p{
    /* margin-top: 0px; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.456);
}

.banner .bannerText button{
    background-color: rgb(59, 184, 233);
    border: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    border-radius: 0 10px;
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.banner .bannerText button:hover{
    background-color: rgb(7, 116, 159);
}

.appointmentSection{
    background-image: url("./assets/image/appointment.jpeg");
    margin-top: -20px;
    background-size: 100% 600px;
    height: 600px;
}

.popup{
    border-color: #fff;
    box-shadow: 3px 3px 5px gray;
    width: 25%;
    font-family: 'Roboto Slab', serif;
    padding: 15px 35px;
    border-radius: 10px;
    position: absolute;
    right: 17%;
    /* top: -20px; */
    background-color: rgb(255, 255, 255);
    bottom: 0;
    transform: translate(50%, 50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.6s;
}

.open-popup{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    bottom: -190px;
    right: 70px;
}

.popup h2{
    text-align: center;
}

.popup input, #message{
    border-radius: 5px;
    /* border: none; */
    border: 1px solid black;
    outline: none;
    height: 40px;
    width: 95%;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;
}

.popup .appointmentBtn{
    background-color: rgb(59, 184, 233);
    border: none;
    width: 42%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    border-radius: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.popup .appointmentBtn:hover{
    background-color: rgb(7, 116, 159);
}

.intro h1{
    text-align: center;
    margin: 50px 0;
    font-family: 'Merriweather', serif;
}

.intro video{
    width: 100%;
    height: 60vh;
    margin-bottom: 50px;
}

.thanks{
    background-color: #fff;
    box-shadow: 5px 5px 8px gray;
    width: 25%;
    font-family: 'Roboto Slab', serif;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    right: 20%;
    visibility: hidden;
}

.thanks-visible{
    visibility:visible;
}

.thanks h2{
    position: absolute;
    right: 6%;
    top: -5px;
    font-family: 'Kaushan Script', cursive;
    color: rgba(240, 114, 114, 0.796);
    font-size: 30px;
    cursor: pointer;
}

.thanks img{
    margin-top: 10%;
    width: 75px;
    height: 75px;
    margin-left: 40%;
    
}

.thanks h1{
    font-family: 'Kaushan Script', cursive;
    color:#5892FF ;
    font-size: 3rem;
    text-align: center;
}

.thanks p{
    background-color: rgba(185, 230, 248, 0.796);
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 7%;
}